/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/behaviors.h>

&nice_view_oled {
    label = "nice_view";
};

/ {
    keymap {
        compatible = "zmk,keymap";
        transform = &trans_left;
        default_layer {
            /*
             * Левая половинка клавиатуры (7x5)
             * Столбцы: 1-7 (от центра к краям)
             * Ряды: 1-5 (сверху вниз)
             * 
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │ 1 │ 2 │ 3 │ 4 │ 5 │ 6 │   │  <- Ряд 1
             * ├───┼───┼───┼───┼───┼───┤   │
             * │TAB│ Q │ W │ E │ R │ T │   │  <- Ряд 2 (QWERTY)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ALT│ A │ S │ D │ F │ G │   │  <- Ряд 3 (QWERTY)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │CTL│ Z │ X │ C │ V │ B │SFT│  <- Ряд 4 (QWERTY, с дополнительной кнопкой)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │DEL│ESC│SFT│  <- Ряд 5 (островок)
             * └───┴───┴───┴───┴───┴───┴───┘
             *   1   2   3   4   5   6   7
             */
            bindings = <
                &kp TILDE     &kp N1          &kp N2    &kp N3 		        &kp N4    		            &kp N5    	            &kp 6
                &kp TAB       &kp Q           &kp W     &kp E  		        &kp R     		            &kp T     	            &kp I
                &kp LCTRL     &kp A           &kp S     &kp D  		        &kp F     		            &kp G     	            &kp L
                &kp LALT       &kp Z          &kp X     &kp C  		        &kp V     		            &kp B     	            &kp M
                &kp BSPC      &kp DEL         &mo 2     &trans     	        &trans                      &trans                  &kp LSHIFT
            >;
        };

        lower_layer {
            /*
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ESC│ 1 │ 2 │ 3 │ 4 │ 5 │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │ - │ = │ [ │ ] │ \ │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │ESC│GUI│CPY│PST│   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * └───┴───┴───┴───┴───┴───┴───┘
             */
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &trans
                &trans    &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT  &kp BSLH  &trans
                &trans    &kp ESC   &kp LGUI  &kp LG(C) &kp LG(V) &kp GRAVE &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            /*
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ESC│ ! │ @ │ # │ $ │ % │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │ _ │ + │ { │ } │ | │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │ESC│GUI│ ( │ ) │ ~ │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * └───┴───┴───┴───┴───┴───┴───┘
             */
            bindings = <
                &bootloader    &trans    &trans    &trans    &trans    &trans    &trans
                &sys_reset   &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT &trans
                &trans    &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC  &kp PIPE  &trans
                &trans    &kp ESC   &kp LGUI  &kp LPAR  &kp RPAR  &kp TILDE &trans
                &out OUT_BLE  &trans    &trans    &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &out OUT_USB
            >;
        };
    };
};
