if SHIELD_DVVKEYB_LEFT

config ZMK_DVVKEYB_LEFT
    string
    default "DVV1224"
config ZMK_SPLIT
    bool
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    bool
    default y
endif

if SHIELD_DVVKEYB_RIGHT

config ZMK_DVVKEYB_RIGHT
    bool
    default y
config ZMK_SPLIT
    bool
    default y
endif

if ZMK_DISPLAY

config I2C
    bool
    default y

config SSD1306
    bool
    default y

endif # ZMK_DISPLAY