/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /*
             * Правая половинка клавиатуры (7x5)
             * Столбцы: 1-7 (от центра к краям)
             * Ряды: 1-5 (сверху вниз)
             * 
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │ 7 │ 8 │ 9 │ 0 │ - │ = │UN1│  <- Ряд 1 (UN1 = неиспользованная позиция 7,1)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ Y │ U │ I │ O │ P │ [ │ ] │  <- Ряд 2
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ H │ J │ K │ L │ ; │ ' │UN3│  <- Ряд 3 (UN3 = неиспользованная позиция 7,3)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │ N │ M │ , │ . │ / │L1 │UN4│  <- Ряд 4 (L1 = слой 1, позиция 6,4)
             * ├───┼───┼───┼───┼───┼───┤   │
             * │L2 │UN5│UN5│UN5│BSP│ENT│L3 │  <- Ряд 5 (островок, L2 = слой 2, L3 = слой 3)
             * └───┴───┴───┴───┴───┴───┴───┘
             *   1   2   3   4   5   6   7
             */
            bindings = <
                &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL &trans    // UN1: позиция 7,1 - неиспользованная
                &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LBKT  &kp RBKT
                &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT   &trans    // UN3: позиция 7,3 - неиспользованная
                &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &mo 1     &trans    // mo 1: позиция 6,4 - переключение на слой 1
                &mo 2     &trans    &trans    &trans    &kp BSPC  &kp RET   &mo 3      // mo 2: позиция 1,5, mo 3: позиция 7,5 - переключение слоёв
            >;
        };

        lower_layer {
            /*
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * └───┴───┴───┴───┴───┴───┴───┘
             */
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        raise_layer {
            /*
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * └───┴───┴───┴───┴───┴───┴───┘
             */
            bindings = <
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };

        adjust_layer {
            /*
             * ┌───┬───┬───┬───┬───┬───┬───┐
             * │F7 │F8 │F9 │F10│F11│F12│   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * ├───┼───┼───┼───┼───┼───┤   │
             * │   │   │   │   │   │   │   │
             * └───┴───┴───┴───┴───┴───┴───┘
             */
            bindings = <
                &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12   &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans
            >;
        };
    };
}; 